html {
  scroll-behavior: smooth;
	font-family: 'Roboto';
}
body {
	font-size: 20px;
	font-weight: 400;
	overflow-x: hidden;
	width: 100%;
}
p, span {
	font-weight: 400;
}


.main-layout {
  width: 100%;
  position: relative;
  width: 100%;
}

::-moz-selection {
  /* Code for Firefox */
  color: #FFFFFF;
  background: #012168;
}

::selection {
  color: #FFFFFF;
  background: #012168;
}

.section-content {
	background-color: #FFFFFF;
	padding: 56px 0;
}
.text-title-section {
	color: #E7E7E7;
	font-size: 90px;
}
.content-title {
	display: flex;
	align-items: center;
	margin-bottom: 28px;
}
.text-number {
	color: #000000;
	position: relative;
	font-size: 18px;
	margin-top: -10px;
	margin-right: 10px;
}
.text-title {
	color: #C2C2C2;
	font-size: 36px;
}
.section-one {
	position: relative;
	display: block;
	margin: 44px 0 24px 0;
}
.section-two {
	position: relative;
	display: block;
	margin: 144px 0 0 0;
}
.padding-start {
	padding-left: 40px;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.section-content .text-number::after{
	content: '';
	position: absolute;
	width: 19px;
	height: 5px;
	border-radius: 2.5px;
	background-color: #603EBE;
	bottom: -4px;
	left: 0;
}
.section-content.have-bg .text-number::after{
	background-color: #FFFFFF;
}
.section-content.color-other .text-number{
	color: #8F6BE8;
}
.have-bg {
	padding: 88px 0;
}

.img-centerion-one {
	position: absolute;
	width: 678px;
	z-index: 999;
	left: 175px;
}
.img-centerion-two {
	position: absolute;
	width: 840px;
	z-index: 999;
	right: 125px;
}